<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean gravida imperdiet urna at pretium. Aenean consectetur urna purus, finibus interdum ligula iaculis ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat metus, condimentum sed varius non, ornare eu ex. Duis sit amet auctor est. Sed a diam rhoncus, efficitur lorem dignissim, vestibulum diam. Curabitur ac mattis dui. Aliquam et sem a dui placerat ultrices. Nulla non euismod lectus, vitae mattis metus. Donec id elit commodo, finibus augue id, auctor quam. Pellentesque eleifend facilisis risus non ornare. Aliquam lacinia risus porttitor, laoreet ligula aliquam, suscipit metus. Vestibulum orci sapien, mollis sed sapien eu, rutrum lacinia neque. Vestibulum maximus sagittis leo. Integer feugiat augue et magna euismod lacinia      
    </p>

</article>